*{
    margin: 0%;
    padding: 0%;
}
.container{
    height: 100 0px;
    width: 100%;
    
}
#blue{
    background-color: #0000ff;
    height: 24vh;
    width: 50vw;
}
#blue:active{
    box-shadow:  20px  2px red;
}
#Yellow{
    background-color: #ffff00;
    height: 24vh;
    width: 50vw;
}
#purple{
    background-color: #800080;
    height: 9rem;
    width: 23rem;
}
#red{
    background-color: #ff0000;
    height: 9em;
    width: 23em;
}