*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav1{
    text-align: right;
    margin: 20px;
}

#nav1 a{
    
    margin: 10px;
}
#nav1 button
{
    padding: 2px;
}
button{
    padding: 5px;
    margin:10px 10px 30px 10px ;
    
    background-color: #f0ffff;
    border: #f0ffff;
    
}

 button:hover{
    border: 1px solid  rgb(221, 217, 217);
}


header{
    margin:20px ;
    font-size: smaller;
}

.Sec{
    text-align: center;
}
#Google{
    margin-bottom: 15px;
   
}
img{
    height: 90px;
    width: 280px;
}
input{
    width: 500px;
    height: 40px;
    border-radius:15px ;
    margin-bottom:15px ;
}
#button2{
    padding:20px ;
}
#languages{
    margin: 5px 10px ;
    font-size: smaller;
}
#languages a:hover{
    text-decoration: underline;

}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    margin-top: 170px;
    height: 80px;
    background-color: rgb(238, 236, 236);
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: smaller;
}
#f-1{
    margin-left: 20px;
}
#f-2{
    margin-left: 20px; 

}
#f-2 a{
    margin: 20px 20px 20px 0px;
}


#right{
    float: right;
}
a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}









