*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

nav {
    text-align: right;


}
nav a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}
nav :hover{
    text-decoration: underline;
}

img {
    width:350px ;
    margin-bottom: 10px;
   
}

#image {
    text-align: center;
    
}

#Sec{
    text-align: center;
}
input{
    width: 500px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 15px;

}

button{
    padding: 5px;
    margin:10px 10px 30px 10px ;
    
    background-color: #f0ffff;
    border: #f0ffff;
}
button:hover{
    border: 1px solid  rgb(221, 217, 217);
    
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
#ind{
    margin-left: 20px;
}
#Ab{
    margin-left: 20px;
}
#nav1 a{
    padding: 10px;
    text-decoration: none;
    color: rgb(20, 20, 20);
}
#nav1{
    float: left;
    
}
#nav2{
    margin-right: 30px;
    text-decoration: none;
    
    
}
#nav2 a{
    padding: 20px;
    color: rgb(20, 20, 20);
    
}

#nav2 a:hover{
    text-decoration: underline;
}
.footer-sec{
    background-color: rgb(219, 214, 214);
    height: 80px;
    padding: 10px 0px 30px 0px;
 margin-top: 165px;
}




