*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif ;
    background-color: aquamarine;
}
.Container{
    margin: 20px 100px 20px 100px;  

}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#self{
    text-align: center;
}
hr{
    border-top: dotted;
    margin-top: 20px;
    margin-bottom: 20px;
}
#hobbies{
    padding: 20px;
    background-color: antiquewhite;
}
h3{
    text-align: center;
    text-decoration: underline;

    
}
h4{
    text-align: center;
    text-decoration: underline;
    
}
h6{
    margin-bottom: 5px;
}
#favourites{
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
}
img{
    height: 150px;
    width: 150px;
    margin: 10px;
}
.links{
    text-align: center;
}

