*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    height: 1200px;
    margin: 10px;
   
}

.box{
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
